:root {
  --sl-color-accent-high: hsl(328, 90%, 72%);
  --sl-color-accent: hsl(328, 92%, 64%);
  --sl-color-accent-low: hsl(328, 80%, 54%);
  --sl-hero-color: hsla(328, 92%, 64%, 30%);
}

:root[data-theme='light'] {
  --sl-color-accent-high: hsl(328, 75%, 40%);
  --sl-color-accent: hsl(328, 80%, 52%);
  --sl-color-accent-low: hsl(328, 70%, 78%);
  --sl-hero-color: hsla(328, 85%, 60%, 25%);
}


.hero {
  padding: 0;
}

/* Hero style */
[data-has-hero] .page {
  height: 100%;
  background:
    linear-gradient(215deg, var(--sl-hero-color), transparent 40%),
    radial-gradient(var(--sl-hero-color), transparent 40%) no-repeat -60vw -40vh / 150vw 200vh,
    radial-gradient(var(--sl-hero-color), transparent 65%) no-repeat 50% calc(100% + 20rem) / 150rem 30rem;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}


[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--sl-hero-color));
}

starlight-obsidian-theme-select,
.lang-select {
  align-self: center !important;
}

.content-panel .sl-container {
  display: flex;
  flex-direction: column;
}

.content-panel .sl-container > h1 {
  order: 1;
}

.content-panel .sl-container > p.sl-flex {
  order: 0;
  margin-bottom: 1rem;
}